.show_categories  
  = render :partial => "/admin/shared/categories_list", :locals => { :categories => @categories }

.show_dishes
  %h2= @category.name  
  
  = render :partial => "/admin/shared/dishes_list", :locals => { :dishes => @dishes }

  %br= link_to 'New Dish', new_admin_dish_path(:category_id => @category.id)


