%h2=t'Dishes'
= link_to (t'New Dish'), new_admin_dish_path
%br
%br

= render :partial => "/admin/shared/dishes_list", :locals => { :dishes => @dishes }
 
= link_to (t'New Dish'), new_admin_dish_path
 